services:
  - type: web
    name: sequencebiolab
    env: python
    buildCommand: pip install -r requirements-web.txt && playwright install chromium
    startCommand: gunicorn -w 4 -b 0.0.0.0:$PORT --timeout 600 wsgi:application
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: FLASK_ENV
        value: production
      - key: PORT
        value: 5000

